@import 'variables';
@import "box";
@import "header";

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Regular.ttf)
}



html {
  font-size: $root-font-size;
  font-family: $font-family;
  max-width: $page-width;
  margin: 0 auto;
  text-align: center;
}

p {
  font-size: $paragraph-font-size;
}


h1,h2,h3,h4,p{
  margin: 0;
  padding: 0;
}